@import './variables.scss';
@import './element-ui.scss';
html{
    margin: 0px;
    font-size: 20px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
ul,li,p{
    padding: 0px;
    margin: 0px;
}
h4,h1,h2,h3,h5,h6{
    padding: 0px;
    margin: 0px; 
}
//layout
.law-fluid{
    width: 100%;
    min-width: 1200px; 
}
.law-container{
    width: 1200px;
    margin: 0 auto;
}
.clear{
    clear: both;
}