$themeColor:#741B29;


// bgcolor
$bg-color-white:#ffffff;
$bg-color-gray:#f4f4f5;
$bg-color-gray2:#F2F5FC;
$bg-color-gray3:#f8f3f4;

//color
$color1:#606266;
$color2:#C0C4CC;
$color3:#303133;
$color4:#909399;
$color5:#f65658;
